/*layout*/
body{
    margin : 0 auto;
}
header{
    height : 10vh;
    background: #000;
}

section{
    height : 80vh;
}

.map{
    width:500px;
    height:400px;
}

footer{
    height : 10vh;
    background : #222;
}